body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    /* list-style: none;0 */
    padding-left: 5px;
}

li {
    margin: 5px 0;
}

h2 {
    margin-top: 60px;
}

header {
    display: flex;
    align-items: stretch;
    gap: 20px;
    padding: 10px 20px;
    border-bottom: solid 1px #cdcdcd;
}

.logo img {
    display: block;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.bar {
    background-color: #f9f9fb;
    padding: 15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}

.sidebar {
    border-right: solid 1px #cdcdcd;
}

figure {
    text-align: center;
}